<div id="pagina" (scroll)="scroll()">

    <div id="cabecera">
        <div id="cabecera_op1">
            <h3>Tattoo shop</h3>
            <h3>Acerca de nosotros</h3>
            <h3>Artistas</h3>
        </div>
        <div id="cabecera_logoEspacio"><img id="imgLogo" src="https://www.tattoo.jamdeveloper.com/logo.png" alt=""></div>
        <div id="cabecera_op2">
            <h3>Tienda</h3>
            <h3>FAQ</h3>
            <h3>Contáctenos</h3>
        </div>
    </div>


    <div id="cabeceraMobile">
        <div id="iconoMenuCabecera"><i (click)="traerMenu()" id="iconoMenu" class="fa-solid fa-bars"></i></div>
        
        <div id="menuMobile">
            <div id="cabeceraMobile_op1">
                <h3>Tattoo shop</h3>
                <h3>Acerca de nosotros</h3>
                <h3>Artistas</h3>
            </div>
            <div id="cabeceraMobile_op2">
                <h3>Tienda</h3>
                <h3>FAQ</h3>
                <h3>Contáctenos</h3>
            </div>
        </div>

    </div>

    
    <div id="div1">

    </div>


    <div id="div2">
        <div id="div2__cont1">
            <img id="imgBrazo" src="https://i.pinimg.com/originals/80/4a/1c/804a1c221d82488c2d010ef4a1ce43c3.jpg">
        </div>
        <div id="div2__cont2">
            <h2 id="div2__cont2__h2">TATTOO INK-ORPORATION</h2>
            <p id="div2__cont2__texto">Goodkind Tattoo provides unique and custom work and our reviews speak for themselves as one of the best rated tattoo shops in the Chicago area. Our reputation and providing the highest quality of service means the world to us. We guarantee that you will always walk away with custom artwork that you will love. Goodkind Tattoo is owned and operated by Rob Goodkind, one of the best tattoo artists you will meet. Rob and his staff are constantly evolving within in the tattoo industry by learning new methods, ideologies of Chicago, and appreciating the artwork that others do.
                Our tattoo shop is an extension of who we are. Our work ethic and integrity have been ingrained here. We strive to create a welcoming atmosphere for ourselves as well as our clients. Each staff member has their own private station to ensure comfort and privacy. We keep our shop immaculate and take pride in maintaining a safe and sanitary environment.</p>
        </div>
    </div>


    <div id="div2_Mobile">
        <div id="div2_Mobile__cont1">
            <img id="imgBrazoMob" src="https://i.pinimg.com/originals/80/4a/1c/804a1c221d82488c2d010ef4a1ce43c3.jpg">
        </div>
        <div id="div2_Mobile__cont2">
            <h2 id="div2_Mobile__cont2__h2">TATTOO INK-ORPORATION</h2>
            <p id="div2_Mobile__cont2__texto">Goodkind Tattoo provides unique and custom work and our reviews speak for themselves as one of the best rated tattoo shops in the Chicago area. Our reputation and providing the highest quality of service means the world to us. We guarantee that you will always walk away with custom artwork that you will love. Goodkind Tattoo is owned and operated by Rob Goodkind, one of the best tattoo artists you will meet. Rob and his staff are constantly evolving within in the tattoo industry by learning new methods, ideologies of Chicago, and appreciating the artwork that others do.
                Our tattoo shop is an extension of who we are. Our work ethic and integrity have been ingrained here. We strive to create a welcoming atmosphere for ourselves as well as our clients. Each staff member has their own private station to ensure comfort and privacy. We keep our shop immaculate and take pride in maintaining a safe and sanitary environment.</p>
        </div>
    </div>


    <div id="div3">
        <div id="div3__cont1">
            <h2 id="div3__cont1__h2">CONOCE A LOS ARTISTAS</h2>
        </div>
        <div id="div3__cont2">
            <div class="artistas" id="div3__cont2__cont2">
                <img id="imgArtistas" src="https://cdn.vox-cdn.com/thumbor/AYaujCuY2i1QcUan-PGFWL-FCtI=/0x0:7800x5200/1400x1050/filters:focal(2237x2009:3485x3257):no_upscale()/cdn.vox-cdn.com/uploads/chorus_image/image/69438808/GettyImages_1281406222.0.jpg" alt="">
                <h4>Ashley Sustz</h4>
            </div>
            <div class="artistas" id="div3__cont2__cont1">
                <img id="imgArtistas" src="https://c8.alamy.com/zooms/9/52d23216db984a5fad839606631e8841/2h2a43g.jpg" alt="">
                <h4>Ramiro Teodosio</h4>
            </div>
            <div class="artistas" id="div3__cont2__cont3">
                <img id="imgArtistas" src="https://cdn.shopify.com/s/files/1/0567/6761/1012/articles/Tattoo-Artist-In-Los-Angeles.jpg?v=1671630613" alt="">
                <h4>Pedro Angeles</h4>
            </div>
            <div class="artistas" id="div3__cont2__cont4">
                <img id="imgArtistas" src="https://www.gannett-cdn.com/authoring/2014/12/12/NCOU/ghows-DA-fe6640f0-1c5a-47d5-91e8-4de61178a0f0-677a0f80.jpeg" alt="">
                <h4>Federico Cardenale</h4>
            </div>
        </div>
    </div>


    <div id="div3_Mobile">
        <div id="div3_Mobile__cont1">
            <h2 id="div3_Mobile__cont1__h2">CONOCE A LOS ARTISTAS</h2>
        </div>
        <div id="div3_Mobile__cont2">
            <div class="artistasMob" id="div3_Mobile__cont2__cont2">
                <img id="imgArtistasMob" src="https://cdn.vox-cdn.com/thumbor/AYaujCuY2i1QcUan-PGFWL-FCtI=/0x0:7800x5200/1400x1050/filters:focal(2237x2009:3485x3257):no_upscale()/cdn.vox-cdn.com/uploads/chorus_image/image/69438808/GettyImages_1281406222.0.jpg" alt="">
                <h4>Ashley Sustz</h4>
            </div>
            <div class="artistasMob" id="div3__cont2__cont1">
                <img id="imgArtistasMob" src="https://media.licdn.com/dms/image/D4E35AQHrHvEDnXkB0Q/profile-framedphoto-shrink_800_800/0/1648454704654?e=1685822400&v=beta&t=qABqja2h918AxZjVjmKzklk1e5dCTkfbPH9AUh0_Y_Y" alt="">
                <h4>Ramiro Teodosio</h4>
            </div>
            <div class="artistasMob" id="div3__cont2__cont3">
                <img id="imgArtistasMob" src="https://cdn.shopify.com/s/files/1/0567/6761/1012/articles/Tattoo-Artist-In-Los-Angeles.jpg?v=1671630613" alt="">
                <h4>Pedro Angeles</h4>
            </div>
            <div class="artistasMob" id="div3__cont2__cont4">
                <img id="imgArtistasMob" src="https://www.gannett-cdn.com/authoring/2014/12/12/NCOU/ghows-DA-fe6640f0-1c5a-47d5-91e8-4de61178a0f0-677a0f80.jpeg" alt="">
                <h4>Federico Cardenale</h4>
            </div>
        </div>
    </div>


    <div id="div4">
        <div id="div4__cont1">
            <h2 id="div4__cont1__h2">EXPLORA LOS TATUAJES RECIENTES</h2>
        </div>
        <div id="div4__cont2">
            <div id="div4__cont2__grilla">
                <div class="celda">
                    <img class="tattoo" id="tattoo1" src="https://i.pinimg.com/736x/ee/f8/9a/eef89ae59affee40426e1fcf9beb4d71.jpg">
                </div>
                <div class="celda">
                    <img class="tattoo" id="tattoo2"  src="https://ideastattoo.com/wp-content/uploads/2022/09/20-of-the-best-tattoos-on-the-arm-for-men_4.webp">
                </div>
                <div class="celda">
                    <img class="tattoo" id="tattoo3"  src="https://manofmany.com/wp-content/uploads/2021/05/Best-Sleeve-Tattoos.jpg">
                </div>
                <div class="celda">
                    <img class="tattoo" id="tattoo4"  src="https://preview.redd.it/itwowkl7tj991.jpg?width=1024&format=pjpg&auto=webp&s=509588a1acab047a5cfe53e19568ae9c5eb19211">
                </div>
                <div class="celda">
                    <img class="tattoo" id="tattoo5"  src="https://i.pinimg.com/564x/ee/3c/41/ee3c41e8ac9c9941cef40095a92452df.jpg">
                </div>
                <div class="celda">
                    <img class="tattoo" id="tattoo6"  src="https://www.thailandnomads.com/wp-content/uploads/2022/04/Best-Tattoo-Studios-In-Pattaya-1200x1203.jpg">
                </div>
                <div class="celda">
                    <img class="tattoo" id="tattoo7"  src="https://i.pinimg.com/originals/e3/4f/0d/e34f0d0bacd3fc82b9566486fa3e4bb8.jpg">
                </div>
                <div class="celda">
                    <img class="tattoo" id="tattoo8"  src="https://i.pinimg.com/736x/05/53/b1/0553b1450605f16160992dabf344a6e3.jpg">
                </div>
                <div class="celda">
                    <img class="tattoo" id="tattoo9"  src="https://hips.hearstapps.com/hmg-prod/images/two-women-having-the-same-tattoo-royalty-free-image-1667233098.jpg">
                </div>
            </div>
        </div>
    </div>


    <div id="div5">
        <div id="div5__cont1">
            <h2 id="div5__cont1__h2">VISITÁ NUESTRO LOCAL</h2>
        </div>
        <div id="div5__cont2">
            <div id="div5__cont2__div1">
                <iframe id="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13617.932788039509!2d-64.2623243271461!3d-31.428361986694014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9432a32196d6345b%3A0x4300c836d5742423!2sStudio%20Tattoo%20Shark%20Red!5e0!3m2!1sen!2sar!4v1685218227852!5m2!1sen!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div id="div5__cont2__div2" class="form-group">
                <input type="text" class="form-control" placeholder="Nombre">
                <input type="text" class="form-control" placeholder="Email">
                <input type="text" class="form-control" placeholder="Telefono">
                <input type="text" class="form-control" placeholder="Asunto">
                <input id="msj" type="text" class="form-control" placeholder="Mensaje">
            </div>
        </div>        
    </div>


    <div id="div6">
        <div id="div6__cont1">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-instagram"></i>
        </div>
        <div id="div6__cont2">
            <ul>
                <li>Home</li>
                <li>About us</li>
                <li>Artists</li>
                <li>Aftercare</li>
                <li>FAQ</li>
                <li>Contact us</li>
            </ul>
        </div>
        <div id="div6__cont3">
            <p>© 2018 All right reserved</p>
        </div>
    </div>



</div>